
<h4 class ='d-flex justify-content-between mb-4 pt-4'>
  <span>Blogs</span>
  <%= link_to "New Blog", new_blog_path(@blog), class: 'btn btn-primary' %>
</h4>

<% @blogs.each do |blog| %>
  <%= link_to blog, class: 'text-decoration-none' do %>
    <div class="card mb-3">
      <div class="card-body">
        <h5 class='card-title text-dark'><%=blog.title %></h5>

      </div>
    </div>
  <% end %>
<% end %>
