<div class = "body-blog">
  <div class="homepagelay">
    <div class = "blog-info">
      <h1>Witaj na stronie głównej!</h1>
      <p>Aby przejść do blogów kliknij w przycisk.</p>
    </div>
    <div class = "blog-link">
      <%= link_to 'BLOGS', blogs_path, class: 'btn' %>
    </div>
  </div>
</div>

