<h4 class ='d-flex justify-content-between mb-4 pt-4'>
  <span>Search results</span>
</h4>
<% @posts.each do |post| %>
  <%= link_to blog_post_path(@blog, post), class: 'text-decoration-none' do %>
    <div class="card mb-3">
      <div class="card-body">
        <h5 class='card-title text-dark'><%=post.title %></h5>
        <p class='text-secondary m-0'><%= truncate(strip_tags(post.content.to_s), length: 250) %></p>
      </div>
    </div>
  <% end %>
<% end %>